.navbar {
    margin-bottom: 0;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.input-group-addon {
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-required {
    color: #ff0000;
}

.form-no-margins {
    margin-bottom: 0px;
}

.table-dash{
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.panel-nopad{
    padding: 0;
}

.list-group{
    margin-bottom: 0;
}