.navbar {
    margin-bottom: 0;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.input-group-addon {
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-required {
    color: #ff0000;
}

.form-no-margins {
    margin-bottom: 0px;
}

.table-dash{
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.panel-no-border{
   border: 0px;
}

.panel-no-pad{
    padding: 0;
}

.list-group{
    margin-bottom: 0;
}

.alert-no-pad{
    padding: 0;
    margin-bottom: 0;
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin-left: 10px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:5px;
}
.table-super-condensed{
    padding: 0;
}
.model-backdrop {
    background-color: transparent;
}

.table-list{
    font-size: 12px;
}

.table-padding{
    padding: 10px;
}